<?xml version="1.0" encoding="utf-8"?>

<configuration name="XPrismModules.Config">
    <modules>

        <module assemblyFile="WPFAdmin.NavigationModules.dll">
            <!-- 导航服务Base 要确保被首先加载 -->
            <moduleName>NavigationModule</moduleName>
        </module>

        <module assemblyFile="WPFAdmin.DialogModules.dll">
            <moduleName>DialogModule</moduleName>
        </module>
        
        <module assemblyFile="GanttChartModules.dll">
            <moduleName>GanttChartModule</moduleName>
        </module>

        <module assemblyFile="AboutModules.dll">
            <moduleName>AboutModule</moduleName>
        </module>

        <module assemblyFile="AntDiagramModules.dll">
            <moduleName>AntDiagramModule</moduleName>
        </module>

        <module assemblyFile="DataValidatorModules.dll">
            <moduleName>DataValidatorModule</moduleName>
        </module>

        <module assemblyFile="QrCodeModules.dll">
            <moduleName>QrCodeModule</moduleName>
        </module>

        <module assemblyFile="RouterEventModules.dll">
            <moduleName>RouterEventModule</moduleName>
        </module>

    </modules>
</configuration>